<%= simple_form_for [@list, @bookmark] do |f| %>
        <div class="modal-body">
          <%= f.association :movie %>
          <%= f.input :comment %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add movie", class: "btn btn-flat" %>
          <% end %>
          <button type="button" class="btn btn-cancel">Back</button>
        </div>
